<%- include("../templates/head") %>
    <%- include('../templates/header', { loggedIn: loggedIn }) %>

        <!-- VISTA PARA "NUEVO POST" -->
        <main class="mx-auto max-w-7xl flex-1 w-full">
            <section class="grid gap-4 md:gap-8 p-4 md:p-6">
                <div class="px-8 py-4 rounded-lg border bg-header-registro2 text-white shadow-sm ">
                    <!-- TÍTULO -->
                    <h1 class="text-3xl font-semibold text-yellow-500">NUEVO POST</h1>
                    <!-- CONTENIDO "NUEVO POST" -->
                    <form action="/forum/new-post" method="POST">
                        <div class="mb-4 pt-2">
                            <label for="title" class="text-lg font-semibold mb-2">Título</label>
                            <input type="text" id="title" name="title"
                                class="mt-1 p-2 border rounded-md w-full bg-header-registro focus:outline-none focus:border-yellow-500" required>
                        </div>
                        <div class="mb-4">
                            <label for="content" class="text-lg font-semibold mb-2">Contenido</label>
                            <textarea id="content" name="content"
                                class="mt-1 p-2 border rounded-md w-full bg-header-registro focus:outline-none focus:border-yellow-500 h-32" required></textarea>
                        </div>
                        <!-- ENVIAR DATOS -->
                        <button type="submit" class="bg-transparent border-2 border-white text-white py-1 px-4 rounded-lg hover:bg-gradient-to-t from-header-negro to-header-registro2 hover:border-yellow-500">
                            Publicar
                        </button>
                    </form>
                </div>
            </section>
        </main>