<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="/css/general-out.css" rel="stylesheet"> -->

        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
        <!-- <link rel="stylesheet" href="/css/styles.css"> -->
        <title>Trazyn's Realm</title>
      </head>
      <body class="bg-gray-950">
        <!-- <div id="app"></div> -->
        <!-- <scrikpt type="module" src="main.js"></scrikpt> -->

    <%- include("templates/header") %>
    <%- include("welcome/index.ejs") %>

  </div>
</div>
<script>

</script>