<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/general-out.css" rel="stylesheet">
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
        <!-- <link rel="stylesheet" href="/css/styles.css"> -->
        <title>Trazyn's Realm</title>
      </head>
      <body>
        <div id="app"></div>
        <script type="module" src="/main.js"></script>

          <div class="bg-red-900">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus eaque rem beatae nulla optio culpa in odio, harum et obcaecati vero numquam, totam ab quo hic ducimus, eos laboriosam provident.</div>
    <%- include("templates/nav") %>
    <%- include("templates/header") %>
    <%- include("welcome/index.ejs") %>
    
  </div>
</div>
