<main class="mx-auto max-w-7xl flex-1 w-full">
    <section class="grid gap-4 md:gap-8 p-4 md:p-6">
        <h1 class="text-2xl font-bold">Perfil de Usuario</h1>
        <form action="/profile/update" method="POST" class="mt-4">
            <!-- Card para el email -->
            <div class="mt-4 bg-white bg-opacity-25 rounded-lg p-6">
                <h2 class="text-lg font-semibold mb-4">Email</h2>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <div>
                        <label for="email" class="block">Email:</label>
                        <input type="email" id="email" name="email" value="<%= user.email %>"
                            class="block w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-yellow-500"
                            required>
                    </div>
                    <!-- <div>
                        <p class="text-gray-300"><br><%= user.email %></p>
                    </div> -->
                </div>
            </div>
            <!-- Card para la contrase単a -->
            <div class="mt-4 bg-white bg-opacity-25 rounded-lg p-6">
                <h2 class="text-lg font-semibold mb-4">Nueva Contrase単a</h2>
                <div class="mb-4">
                    <label for="password" class="block">Nueva Contrase単a:</label>
                    <input type="password" id="password" name="password"
                        class="block w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-yellow-500"
                        required>
                </div>
                <div>
                    <label for="confirmPassword" class="block">Confirmar Contrase単a:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword"
                        class="block w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-yellow-500"
                        required>
                </div>
                <button type="submit"
                    class="mt-4 bg-header-registro2 text-white px-4 py-2 rounded-md hover:bg-gradient-to-t from-header-negro to-header-registro2 hover:border-yellow-500 focus:outline-none focus:bg-gradient-to-t focus:from-header-negro focus:to-header-registro2">
                    Guardar Cambios
                </button>
            </div>
        </form>
    </section>
</main>
