<main class="mx-auto max-w-7xl flex-1 w-full">
    <section class="grid gap-4 md:gap-8 p-4 md:p-6">
        <div class="px-8 py-4 rounded-lg border bg-header-registro2 shadow-sm">

            <h1 class="text-3xl md:text-4xl font-bold text-yellow-500 text-center mb-4">
                ¡Heresy Detected!
            </h1>
            <p class="text-lg text-center text-white  mb-8">
                Trazyn's Realm ha encontrado una anomalía warp. 
                La página que buscas se ha perdido en el Immaterium.
            </p>
        </div>
    </section>
</main>