<!-- Modal de Creación de Producto -->
<div id="createProductModal" class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-center justify-center min-h-screen">
        <div class="px-8 py-4 rounded-lg border bg-green-800 text-white shadow-sm">
            <div class="flex justify-between gap-5">
                <h2 class="text-xl font-semibold">Agregar Producto</h2>
                <button id="closeModalButton" class="bg-transparent border-2 border-white text-white py-1 px-4 rounded-lg hover:bg-gradient-to-t from-header-negro to-header-registro2 hover:border-yellow-500">
                    X
                </button>
            </div>
            <form id="createProductForm" class="mt-4 space-y-4">
                <input type="text" name="name" placeholder="Nombre del Producto" class="form-control bg-header-registro rounded-lg p-4 w-full mt-1 focus:outline-none focus:border-yellow-500">
                <input type="number" name="price" placeholder="Precio" class="form-control bg-header-registro rounded-lg p-4 w-full mt-1 focus:outline-none focus:border-yellow-500">
                <input type="file" name="image" class="form-control bg-header-registro rounded-lg p-4 w-full mt-1 focus:outline-none focus:border-yellow-500">
                <textarea name="description" placeholder="Descripción" class="form-control bg-header-registro rounded-lg p-4 w-full mt-1 focus:outline-none focus:border-yellow-500 h-32"></textarea>
                <button type="button" id="saveProductButton" class="w-full inline-flex justify-center rounded-md border-transparent shadow-sm px-4 py-2 bg-transparent border-2 border-white text-white hover:bg-gradient-to-t from-header-negro to-header-registro2 hover:border-yellow-500">
                    Guardar Producto
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
    const saveProductButton = document.getElementById('saveProductButton');

    saveProductButton.addEventListener('click', async () => {
        if (saveProductButton.disabled) return;
        saveProductButton.disabled = true;

        const form = document.getElementById('createProductForm');
        const formData = new FormData(form);

        try {
            const response = await fetch('/admin/products/add', {
                method: 'POST',
                body: formData
            });

            if (response.ok) {
                closeModal();
                window.location.reload();
            } else {
                console.error('Error al crear el producto:', response.statusText);
                window.location.reload();            }
        } catch (error) {
            console.error('Error al crear el producto:', error);
            window.location.reload();
                } finally {
            saveProductButton.disabled = false;
        }
    });
});


</script>
