<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/general-out.css" rel="stylesheet">
  <!-- <script src="https://cdn.tailwindcss.com"></script> -->
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
  <title>Trazyn's Realm</title>
</head>

<header class="bg-gray-900 text-white py-6">
  <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-3xl font-extrabold tracking-tight">Trazyn's Realm</h1>
      <nav class="flex space-x-6">
          <a href="/" class="hover:text-gray-300">Inicio</a>
          <a href="/forum" class="hover:text-gray-300">Foro</a>
          <a href="/products" class="hover:text-gray-300">Productos</a>
          <a href="#" class="hover:text-gray-300">Contacto</a>
      </nav>
      <div class="flex items-center space-x-4">
          <a href="#" class="hover:text-gray-300">Iniciar sesión</a>
          <button class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-lg">Registrarse</button>
      </div>
  </div>
</header>
